var sectionControlsTemplate = `
<div class="section collapsed">
    <div class="col-12">
        <span class="col-2 strong">Section {{sectionKey}}: </span>
        <input class="col-7" type="text" name="sections.{{sectionKey}}.title" placeholder="No title" value="{{section.title}}">
        <label class="col-1"><input type="checkbox" name="sections.{{sectionKey}}.display" placeholder="No title" value="{{section.display}}"> Display</label>
        <input type="hidden" name="sections.{{sectionKey}}.source" placeholder="No title" value="{{section.source}}">
        <span class="col-2 expand-section">&or;</span>
        <span class="col-2 collapse-section">&and;</span>
    </div>
    <div class="section-details col-12">
    </div>
    <div class="section-details col-12">
        <div class="row section-type">
            <div class="col-1">Type</div>
            <select class="col-8" name="sections.{{sectionKey}}.type">
                <option value="generic">Generic (service, language, etc)</option>
                <option value="multi-days">Multi-days</option>
                <option value="mixed-full-days">Mixed full days</option>
                <option value="single-inclusive-days">Single-inclusive days</option>
                <option value="single-exclusive-days">Single-exclusive days</option>
            </select>
        </div>
        <div class="row col-12 section-columns">
            <div class="col-1">Columns: </div>
            <div class="col-10">
                <div class="row">
                {{#each columns}}
                    {{#if ../arrayOfColumns}}
                    <div class="row">
                    {{#each this}}
                        <div class="column-holder col-2">
                            <p>COLUMN</p>
                            <select name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{@key}}.source">
                                <option value="{{source}}">{{source}}</option>
                            </select>
                            <input name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{@key}}.title" type="text" style="width: 65px" value="{{title}}">
                            <input name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{@key}}.width" type="text" style="width:50px" value="{{width}}">
                            <input name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{@key}}.dayKey" type="hidden" style="width:50px" value="{{dayKey}}">
                        </div>
                    {{/each}}
                    </div>
                    {{else}}
                        <div class="column-holder col-2">
                            <p>COLUMN</p>
                            <select name="sections.{{../sectionKey}}.columns.{{@key}}.source">
                                <option value="{{source}}">{{source}}</option>
                            </select>
                            <input name="sections.{{../sectionKey}}.columns.{{@key}}.title" type="text" style="width: 65px" value="{{title}}">
                            <input name="sections.{{../sectionKey}}.columns.{{@key}}.width" type="text" style="width:50px" value="{{width}}">
                        </div>
                    {{/if}}
                {{/each}}
                </div>
            </div>
        </div>
        <div class="col-12">
            {{{filtersContent}}}
        </div>
    </div>
</div>
`;