const sectionTemplate = `
		<div class="meeting-container  {{meetingFontSize}} {{ section.type }}">
			<hr class="section-divider">

			<table class="{{ section.type }} meetings">
				<thead>
					<tr>
						<th colspan="{{section.columnHeaders.length}}" class="section-title">{{ section.name }}</th>
					</tr>
					<tr>
                        {{#each section.columnHeaders}}
						<th class="{{ this.key }}">{{ columnHeaderNames[this.key] }}</th>
					</tr>
				</thead>
			</table>
			<table></table>
		</div>
`;